<h1>ABOUT</h1>
<p>Blocipedia is a Ruby on Rails app that allows users to create public and private Markdown-based wikis.</p>
<p>Users can upgrade their account by paying a membership, which allows them to view and create private wikis.</p>