 <div class="media">
   <div class="media-body">
     <h4 class="media-heading">
       <%= link_to (markdown wiki.title), wiki_path(wiki, wiki) %>
     </h4>
     <small>
       submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.username %> <br>
     </small>
   </div>
 </div>