 <%= form_tag charges_path do %>
   <h4>Click the button to upgrade to Premium Membership!</h4>
   <div>
     <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
   </div>
 <% end %>
   <% current_user.role = 'premium' %>
