<!DOCTYPE html>
<html>
<head>
  <title>Bloccipedia</title>
    <h3> Wikis are a great way to collaborate on community-sourced content.
          Whether the wiki is for a hobby or work-related project.
          This app  lets users create their own wikis and share them 
          publicly or privately with other collaborators.</h3>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
